body {
    color: #404040;
    font-family: "Arial", Segoe UI, Tahoma, sans-serifl, Helvetica Neue, Helvetica;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1{
  color: #014978;
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 30px;
    text-align: center;
}

.container{
  flex: 1;
}

.container .btn{
  margin-top: 10px;
}

.seccion-perfil-usuario {
    flex: 1;
}

#chat-container {
  border: 1px solid #ccc;
  padding: 10px;
  height: 300px; /* Ajusta según lo necesario */
  overflow-y: auto; /* Permite el desplazamiento si hay muchos mensajes */
  margin-bottom: 10px;
}

.bubble {
  max-width: 60%;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
}

.bubble-right {
  background-color: #0084ff; /* Color de fondo para mensajes enviados */
  color: white;
  float: right; /* Alínea a la derecha */
  clear: both; /* Asegura que las burbujas no se superpongan */
}

.bubble-left {
  background-color: #f1f1f1; /* Color de fondo para mensajes recibidos */
  color: black;
  float: left; /* Alínea a la izquierda */
  clear: both; /* Asegura que las burbujas no se superpongan */
}


  #idFin{
    margin-top: 30px;
    position: relative;
  }