body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  color: #333;

}

h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #24a38c;
  text-align: center;
  margin-bottom: 20px;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  flex: 1;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* Estilos para el formulario del chat */
#formularioChat {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el contenedor del chat */
#chat-container {
  background-color: #e9f5f3;
  border-radius: 8px;
  height: 400px;
  overflow-y: scroll;
  margin-bottom: 15px;
  padding: 10px;
}

/* Estilos para las burbujas de mensajes */
.bubble {
  max-width: 60%;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  word-wrap: break-word;
  clear: both; /* Evita que las burbujas se superpongan */
}

/* Mensajes enviados (emisor) */
.bubble-right {
  background-color: #28b392;
  color: white;
  float: right;
  border-bottom-right-radius: 0;
}

/* Mensajes recibidos (receptor) */
.bubble-left {
  background-color: #96d8c2;
  color: black;
  float: left;
  border-bottom-left-radius: 0;
}

/* Estilo para el input de mensaje */
#messageInput {
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}


#sendMessageBtn {
  background-color: #24a38c;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#sendMessageBtn:hover {
  background-color: #1b7d6a;
}

/* Estilos del formulario de cotización */
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
  color: #333;
}

.form-group input {
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
}

button[type="submit"] {
  background-color: #24a38c;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

button[type="submit"]:hover {
  background-color: #1b7d6a;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .row {
      flex-direction: column;
  }

  #formularioChat, #formularioCotizacion {
      width: 100%;
  }
}