h1{
    margin-top: 80px;
    color: #014978;
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 30px;
    text-align: center;
}

#consulta-form button{
    margin-top: 10px;
}

#idFin{
    margin-top: 100px;
    position: fixed;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

thead {
  background-color: #3498db;
  color: white;
}

th, td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* tr:hover {
  background-color: #ddd;
} */

th {
  cursor: pointer;
}

